<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>png/button_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,97},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>png/button_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,202},{102,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,39}</string>
			</dict>
			<key>png/check_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,135},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>png/check_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,157},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>png/check1_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,179},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>png/check1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,135},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>png/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,157},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>png/frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/frame4.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/frame5.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/frame6.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,243},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>png/CheckBox_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,97},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>png/CheckBox_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,139},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>png/CheckBox_Press.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,97},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>png/CheckBoxNode_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,181},{27,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>png/CheckBoxNode_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,181},{27,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>png/Sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>png/gray_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>png/red_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,253},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_editor_main.png</string>
			<key>realTextureFileName</key>
			<string>ui_editor_main.png</string>
			<key>size</key>
			<string>{128,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>